@charset "UTF-8";

@font-face {
  font-family: "gilroy-400";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-500";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-600";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-700";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-800";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body {
  font-family: "gilroy-400";
  background-color: #f8fbff;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1d2530;
}

p {
  margin: 0;
  font-size: 16px;
}

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 32px;
  margin-bottom: 93px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 133px;
  height: 42px;
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__login-btn {
  margin-right: 12px;
}

.burger-menu {
  display: none;
}

button {
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

.button-rose {
  color: #685ed6;
  background: #f1e4ff;
  border-style: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 20px;
  font-family: "gilroy-700";
  -webkit-transition: 0.9s all ease;
  -o-transition: 0.9s all ease;
  transition: 0.9s all ease;
  overflow: hidden;
  position: relative;
  z-index: 230;
}

.button-rose:before {
  background: #c39bfb;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: 0.9s all ease;
  -o-transition: 0.9s all ease;
  transition: 0.9s all ease;
  width: 100%;
  height: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.button-purple {
  color: #fff;
  background: #685ed6;
  border-style: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 20px;
  font-family: "gilroy-700";
  -webkit-transition: 0.9s all ease;
  -o-transition: 0.9s all ease;
  transition: 0.9s all ease;
  overflow: hidden;
  position: relative;
  z-index: 230;
}

.button-purple:before {
  background: #33afe1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: 0.9s all ease;
  -o-transition: 0.9s all ease;
  transition: 0.9s all ease;
  width: 100%;
  height: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.intro {
  margin-bottom: 130px;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__info {
  padding-top: 32px;
  position: relative;
  z-index: 3;
}

.intro__title {
  font-family: "gilroy-800";
  font-size: 50px;
  line-height: 60px;
  max-width: 383px;
  margin-bottom: 24px;
}

.purple-text {
  color: #685ed6;
  font-family: "gilroy-800";
}

.intro__text {
  font-size: 24px;
  line-height: 34px;
  color: #1d2530;
  max-width: 482px;
  margin-bottom: 32px;
}

.intro__button {
  padding: 12px 32px;
}

.svg-purple-circle-dims {
  opacity: 0.4;
  width: 230px;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  position: absolute;
  left: -100px;
  bottom: 130px;
  z-index: -1;
}

.intro__ilustration {
  position: relative;
  z-index: 1;
  max-width: 725px;
  margin-left: -130px;
}

.intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.svg-turquoise-circle-dims {
  opacity: 0.4;
  width: 160px;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  position: absolute;
  top: -30px;
  left: 160px;
  z-index: -1;
}

.svg-big-purple-circle-dims {
  opacity: 0.4;
  width: 343px;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  position: absolute;
  right: 0;
  bottom: 120px;
  z-index: -1;
}

.feature {
  padding-bottom: 82px;
}

.feature__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__info {
  margin-right: 76px;
}

.feature__title {
  font-family: gilroy-800;
  font-size: 48px;
  line-height: 32px;
  color: #1d2530;
  margin-bottom: 68px;
}

.feature__ico {
  width: 68px;
  height: 68px;
  margin-right: 26px;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 522px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.feature__item:last-child {
  margin-bottom: 24px;
}

.feature__subtitle {
  font-family: gilroy-600;
  font-size: 24px;
  line-height: 32px;
  color: #1d2530;
  margin-bottom: 8px;
}

.feature__text {
  line-height: 26px;
}

.feature__illustration {
  max-width: 411px;
}

.feature__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tariff {
  padding-top: 100px;
  background-color: #fff;
  padding-bottom: 162px;
}

.tariff__title {
  font-family: gilroy-800;
  font-size: 48px;
  line-height: 32px;
  color: #1d2530;
  text-align: center;
  margin-bottom: 20px;
}

.tariff__subtitle {
  font-family: gilroy-600;
  font-size: 24px;
  line-height: 32px;
  color: #1d2530;
  text-align: center;
  margin-bottom: 40px;
}

.tariff__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.tariff__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  padding: 0 15px 24px 15px;
}

.tariff__item {
  max-width: 350px;
  max-height: 387px;
  text-align: center;
  padding: 10px 30px 50px 30px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  position: relative;
}

.tariff__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 61px;
  background: #f8fbff;
}

.tariff__name {
  font-size: 24px;
  line-height: 48px;
  color: #685ed6;
  font-family: gilroy-800;
  margin-bottom: 40px;
  z-index: 30;
  position: relative;
}

.tariff__text {
  font-size: 28px;
  line-height: 40px;
  font-family: gilroy-800;
  color: #1d2530;
  margin-bottom: 32px;
  width: 100%;
}

.tariff__price {
  font-size: 20px;
  line-height: 30px;
  color: #1d2530;
  font-family: gilroy-500;
  margin-bottom: 46px;
}

.tariff__button {
  max-width: 287px;
  width: 100%;
  font-size: 18px;
  padding: 12px 0;
}

/* Слайдер 
========================================*/

.slick-slider {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.slick-dots li {
  list-style: none;
}

/* Активная точка */

.slick-dots li.slick-active button {
  background-color: #685ed6;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  border: 1px solid #685ed6;
}

/*tariff slider 
=======================================*/

.tariff__list.slick-dots {
  padding-left: 0;
}

@media (min-width: 992px) {
  .button-rose:hover {
    background: #c39bfb;
  }

  .button-rose:hover:before {
    height: 280%;
  }

  .button-purple:hover {
    background: #33afe1;
  }

  .button-purple:hover:before {
    height: 280%;
  }

  .tariff__button:hover:before {
    height: 500%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .tariff__item {
    padding: 10px 15px 50px 15px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 690px;
  }

  .header {
    margin-bottom: 40px;
  }

  .intro__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .intro__info {
    max-width: 270px;
    padding-top: 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  .intro__text {
    font-size: 18px;
    line-height: 28px;
  }

  .svg-purple-circle-dims {
    left: -60px;
    bottom: -50px;
  }

  .intro__ilustration {
    max-width: 420px;
    margin-left: 0;
  }

  .feature__info {
    margin-right: 0;
  }

  .feature__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .feature__ico {
    margin-right: 18px;
    width: 42px;
    height: 42px;
  }

  .feature__item {
    margin-bottom: 16px;
  }

  .feature__subtitle {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .feature__text {
    font-size: 16px;
  }

  .tariff {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .tariff__title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .tariff__subtitle {
    font-size: 20px;
    margin-bottom: 36px;
  }

  .tariff__item {
    padding: 10px 30px 30px 30px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 95px;
    height: 30px;
  }

  .header__login {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #f8fbff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 100;
  }

  .header__login.active {
    top: 0;
  }

  .header__login-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }

  .header__login-btn {
    margin-bottom: 11px;
    margin-right: 0;
  }

  .burger-menu {
    display: block;
    position: relative;
    z-index: 130;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
  }

  .burger-menu:before,
  .burger-menu:after {
    content: "";
    background-color: #33afe1;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .burger-menu:before {
    top: 0;
    background-color: #685ed6;
  }

  .burger-menu:after {
    bottom: 0;
    background-color: #18e1f7;
  }

  .burger-menu.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background-color: #685ed6;
  }

  .burger-menu.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background-color: #685ed6;
  }

  .burger-menu__line {
    position: absolute;
    background-color: #33afe1;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .burger-menu__line.active {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .button-rose {
    width: 177px;
  }

  .intro {
    margin-bottom: 60px;
  }

  .svg-purple-circle-dims {
    display: none;
  }

  .svg-turquoise-circle-dims {
    display: none;
  }

  .svg-big-purple-circle-dims {
    display: none;
  }

  .feature__illustration {
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 710px) {
  .feature__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 645px) {
  .intro__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__info {
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .intro__title {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .tariff__item {
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .intro__info {
    text-align: left;
  }
}